<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Despre noi</title>
    <%= stylesheet_link_tag 'about', media: 'all', 'data-turbo-track': 'reload' %>
</head>
<body>
    <header>
        <h1>CAT CAFE</h1>
        <p>Local de cafea si prajituri cu pisici</p>
    </header>
    <main>
        <h2>Utilizatori</h2>
        <ul>
            <li><strong>Guest:</strong> va putea vizualiza site-ul</li>
            <li><strong>User:</strong> creeaza cont si poate si rezerva mese si lasa recenzii</li>
            <li><strong>Angajat:</strong> vede statisticile lui date de catre admin si gestioneaza comenzile online</li>
            <li><strong>Admin:</strong> poate gestiona informatiile din site si aprovizioneaza</li>
            <li><strong>Aprovizator:</strong> vede cererile adminului si confirma comenzile de produse</li>
        </ul>
        <h2>Functionalitati</h2>
        <ul>
            <li>Vizualizare meniu</li>
            <li>Rezervare mese</li>
            <li>Comenzi online de torturi/prajituri si istoric de comenzi</li>
            <li>Poze cu localul</li>
            <li>Lista cu pisici</li>
            <li>Statistici despre produse si pisici</li>
            <li>Recenzii</li>
            <li>Aprovizionare prin site</li>
            <li>Angajatii fac loguri despre activitati, pentru a reaiza statistici mai tarziu</li>
        </ul>
        <h2>+++</h2>
        <ul>
            <li>+++</li>
        </ul>
    </main>
</body>
</html>
